$color-theme:#008751; //主题色
$color-btnbg:linear-gradient(#31acf2, #526cfa);
$color-Nobtnbg:#939dda;

$font-color-white: #fff; //主题字体色号
$font-color-black: #000; //主题字体色号
$font-color-pale:#fffeff; //二号主题字体色号
$home-back-color: rgb(151, 93, 93); //首页背景色
$home-bind-button: #F52C2C;
$home-disabled-text: rgb(30, 30, 30);
$home-disabled-back: rgb(242, 242, 242);
$home-earn-tip: rgb(4, 151, 255);
$home-notice-tip: #999999;
$home-title-01: #F8E164;
$home-title-02: #FF4E28;
$home-title-03: #8E8E8E;
$home-title-04: #86C7B0;
$home-title-05: #D0E9E0;
$home-title-06: #9B9E9A;
$home-title-07: #DEDEDE;
$home-title-08: #595959;
$home-title-09: #FFE7D4;
$home-title-10: #F5F5F9;
$home-title-11: #CCE7DC;
$home-title-12: #171717;
$home-title-13: #F2F2F2;
$home-title-14: #959595;
$home-title-15: #626262;
$home-title-16: #F4F4F4;
$home-title-17: #EBEEF5;
$home-title-18: #E6F2EF;
$home-title-19: #8A8A8A;
$home-title-20: #E6F3EF;
$home-title-21: #808080;
// $home-run-task: rgb(255, 255, 255);
$home-earn-title: rgb(44, 44, 44);
$home-copay-title: #ff9600;
$home-order-title: #ff013d;
$home-wait-title: #008751;
$home-grey-title: #f2f2f2;
$home-earn-more: rgb(160, 160, 160);
$home-eart-title-tip: rgb(80, 80, 80);
$home-eart-rate-value: rgb(231, 80, 34);
$home-eart-status-value: rgb(98, 98, 98);
$home-eart-money-range: rgb(4, 151, 255);
$home-eart-result-value: rgb(219, 241, 255);
$home-eart-long: rgb(55, 131, 244); //龙
$home-eart-hu: rgb(236, 105, 65); //和
$home-eart-he: rgb(143, 195, 31); //虎
$home-no-check-back: rgb(137,137,137);
$home-month-value: #006dfe;
$home-history-value:#008751;
$home-risk-value: #fe6700;